<div class="page-header-fixed page-sidebar-closed-hide-logo page-on-load" [ngClass]="{'page-content-white': settings.layout.pageContentWhite,'page-container-bg-solid': settings.layout.pageBodySolid, 'page-sidebar-closed': settings.layout.pageSidebarClosed}">

  <div class="page-spinner-bar">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>

  <!-- END PAGE SPINNER -->
  <!-- BEGIN HEADER -->
  <div class="page-header navbar navbar-fixed-top">
    <app-header></app-header>
  </div>
  <!-- END HEADER -->
  <div class="clearfix"> </div>
  <!-- BEGIN CONTAINER -->
  <div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
      <app-sider></app-sider>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
      <div class="page-content">
        <!-- BEGIN STYLE CUSTOMIZER(optional) -->
        <div class="theme-panel hidden-xs hidden-sm">
          <app-theme-panel></app-theme-panel>
        </div>
        <!-- END STYLE CUSTOMIZER -->
        <!-- BEGIN ACTUAL CONTENT -->
        <div class="fade-in-up"> </div>
        <!-- END ACTUAL CONTENT -->
      </div>
    </div>
    <!-- END CONTENT -->
    <!-- BEGIN QUICK SIDEBAR -->
    <a href="javascript:;" class="page-quick-sidebar-toggler">
      <i class="icon-login"></i>
    </a>
    <div class="page-quick-sidebar-wrapper">
      <app-quick-sidebar></app-quick-sidebar>
    </div>
    <!-- END QUICK SIDEBAR -->
  </div>
  <!-- END CONTAINER -->
  <!-- BEGIN FOOTER -->
  <div class="page-footer">
    <app-footer></app-footer>
  </div>

</div>
